/*MID SEMISTER WORK.*/
*{
    color: rgb(2, 12, 2);
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#h1styles{
   text-align: right;
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#list style{
    list-style-type: none;
}
.pstyles{
    color: blue;
    font-size: larger;
}
